<div class="bg-gray-800">
    <div class="py-24 mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="px-6 py-6 flex items-center justify-center">
            <div class="flex-collumn items-center">
                <app-carrosel-icons></app-carrosel-icons>
                <p class="text-center">
                    <span class="">
                        <span class="font-light text-gray-300 text-4xl">Hi, I'm Felipe 💫 </span>
                        <span class="font-light text-gray-300 text-3xl">Full Stack </span>
                        <span class="font-medium text-gray-300 text-4xl">Developer</span>
                        <br>
                        <span class="font-light text-gray-300 text-3xl">for </span>
                        <span class="font-medium text-gray-300 text-3xl">Mobile </span>
                        <span class="font-light text-gray-300 text-3xl">and </span>
                        <span class="font-medium text-gray-300 text-3xl">Web </span>
                        <span class="font-light text-gray-300 text-3xl italic">Aplications</span>
                    </span>
                </p>
            </div>
        </div>
    </div>