<div class="bg-gray-800 h-[calc(100vh-80px)] content-center">
    <div class="py-24 mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="px-6 py-6 flex items-center justify-center">
            <div class="flex-collumn items-center">
                <app-carrosel-icons></app-carrosel-icons>
                <p class="text-center pb-6">
                    <span>
                        <span class="font-light text-gray-300 text-4xl">Hi, I'm Felipe 💫 </span>
                        <span class="font-light text-gray-300 text-3xl">Full Stack </span>
                        <span class="font-medium text-gray-300 text-4xl">Developer</span>
                        <br>
                        <span class="font-light text-gray-300 text-3xl">for </span>
                        <span class="font-medium text-gray-300 text-3xl">Mobile </span>
                        <span class="font-light text-gray-300 text-3xl">and </span>
                        <span class="font-medium text-gray-300 text-3xl">Web </span>
                        <span class="font-light text-gray-300 text-3xl italic">Aplications</span>
                    </span>
                </p>
                <div class="social-links flex items-center justify-center links mt-6 space-x-4">
                    <a href="https://www.linkedin.com/in/felipe-martins-da-silva/" target="_blank" mat-fab extended extended-container-height>
                        <div class="flex items-center justify-center content-center space-x-3 px-3">
                            <img class="w-10 h-10" src="icons/LinkedIn.svg" alt="Button link to LinkedIn">
                            <span>Linkedin</span>
                        </div>
                    </a>
                    <a href="https://github.com/f3lipems" target="_blank" mat-fab extended extended-container-height>
                        <div class="flex items-center justify-center content-center space-x-3 px-3 b-gray-800">
                            <img class="w-10 h-10" src="icons/GitHub.svg" alt="Button link to GitHub">
                            <span class="gray-50">GitHub</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>