<mat-drawer-container class="h-full" [hasBackdrop]="true">
    <mat-drawer #drawer [mode]="'over'">
        <div class="h-full bg-gray-900">
            <div class="p-6 w-full flex items-center justify-between">
                <div class="pl-3">
                    <app-user></app-user>

                    <div class="mt-6">
                        <div class="space-y-4 px-2 pt-2 pb-3">
                            <a href="#"
                                class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Main</a>
                            <a href="#"
                                class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Work</a>
                            <a href="#"
                                class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Tech</a>
                            <a href="#"
                                class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Contatct</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-drawer>

    <mat-drawer-content class="bg-gray-800">
        <app-navbar [toggleSidenav]="toggleSidenav.bind(this)"></app-navbar>
        <app-header></app-header>

        <router-outlet>
        </router-outlet>

        <!-- <app-footer></app-footer> -->
        <app-shooting-stars></app-shooting-stars>
    </mat-drawer-content>
</mat-drawer-container>