<div class="carrosel-icons">
    <div class="logos">
        <div class="logos-slide">
            <div class="flex">
                <img class="w-14 h-14 pb-6" src="icons/JavaScript.svg" alt="JavaScript">
                <img class="w-14 h-14 pb-6" src="icons/Node.js.svg" alt="Node">
                <img class="w-14 h-14 pb-6" src="icons/Angular.svg" alt="Angular">
                <img class="w-14 h-14 pb-6" src="icons/Ionic.svg" alt="Ionic">
                <img class="w-14 h-14 pb-6" src="icons/Flutter.svg" alt="Flutter">
                <img class="w-14 h-14 pb-6" src="icons/Dart.svg" alt="Dart">
                <img class="w-14 h-14 pb-6" src="icons/Go.svg" alt="Go">
                <img class="w-14 h-14 pb-6" src="icons/HTML5.svg" alt="Html">
                <img class="w-14 h-14 pb-6" src="icons/CSS3.svg" alt="Css">
                <img class="w-14 h-14 pb-6" src="icons/Tailwind-CSS.svg" alt="Tailwind">
                <img class="w-14 h-14 pb-6" src="icons/Bootstrap.svg" alt="Bootstrap">
                <img class="w-14 h-14 pb-6" src="icons/Git.svg" alt="Git">
                <img class="w-14 h-14 pb-6" src="icons/Docker.svg" alt="Docker">
                <img class="w-14 h-14 pb-6" src="icons/PostgresSQL.svg" alt="PostgresSQL">
                <img class="w-14 h-14 pb-6" src="icons/MongoDB.svg" alt="MongoDB">
            </div>
        </div>

        <div class="logos-slide">
            <div class="flex">
                <img class="w-14 h-14 pb-6" src="icons/JavaScript.svg" alt="JavaScript">
                <img class="w-14 h-14 pb-6" src="icons/Node.js.svg" alt="Node">
                <img class="w-14 h-14 pb-6" src="icons/Angular.svg" alt="Angular">
                <img class="w-14 h-14 pb-6" src="icons/Ionic.svg" alt="Ionic">
                <img class="w-14 h-14 pb-6" src="icons/Flutter.svg" alt="Flutter">
                <img class="w-14 h-14 pb-6" src="icons/Dart.svg" alt="Dart">
                <img class="w-14 h-14 pb-6" src="icons/Go.svg" alt="Go">
                <img class="w-14 h-14 pb-6" src="icons/HTML5.svg" alt="Html">
                <img class="w-14 h-14 pb-6" src="icons/CSS3.svg" alt="Css">
                <img class="w-14 h-14 pb-6" src="icons/Tailwind-CSS.svg" alt="Tailwind">
                <img class="w-14 h-14 pb-6" src="icons/Bootstrap.svg" alt="Bootstrap">
                <img class="w-14 h-14 pb-6" src="icons/Git.svg" alt="Git">
                <img class="w-14 h-14 pb-6" src="icons/Docker.svg" alt="Docker">
                <img class="w-14 h-14 pb-6" src="icons/PostgresSQL.svg" alt="PostgresSQL">
                <img class="w-14 h-14 pb-6" src="icons/MongoDB.svg" alt="MongoDB">
            </div>
        </div>
    </div>
</div>